<h2> EDIT LISTING </h2>
<%= form_for :listing, url: {action: :update}, method: "put", html: {multipart: true} do |f| %>

  <div id="errors">
    
  </div>

  <h4> Edit details </h2>
  <div class="text-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="text-field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="number-field">
    <%= f.label :pax %>
    <%= f.text_field :pax %>
  </div>
  <div class="text-field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="text-field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="text-field">
    <%= f.label :tags %>
    <%= f.text_field :tag_list %>
  </div>
  <br>

  <div class="text-field">
    <%= f.submit "Edit details" %>
  </div>
<% end %>
<br>

<% @listing_attachments.each do |x| %>
<%= image_tag x.image_url(:thumb) %>
    <% if owner? %>
      <%= link_to "Delete Attachment", t, method: "delete" %>
    <% end %>
<% end %> 
<br>
<%= link_to "[View listing]", listing_path(params[:id]) %>
