<h1>New Listing</h1>

<%= form_for (@listing), html: {multipart: true} do |f| %>

    <h4> Listing details </h4>
    <div class="text-field">
      <%= f.label :title %>
      <%= f.text_field :title, type: 'title' %>
    </div>

    <div class="text-field">
      <%= f.label :description %>
      <%= f.text_field :description, type: 'description' %>
    </div>

    <div class="text-field">
      <%= f.label :country %>
      <%= f.text_field :country, type: 'country' %>
    </div>

    <div class="text-field">
      <%= f.label :address %>
      <%= f.text_field :address, type: 'address' %>
    </div>

    <div class="number-field">
      <%= f.label :pax %>
      <%= f.text_field :pax %>
    </div>

    <div class="text-field">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list %>
    </div>
    <br>
    <h4> Upload an image </h4>
    <%= f.file_field :image %>

    <%= f.label :remote_image_url, "or img URL" %><br>
    <%= f.text_field :remote_image_url %>

    <div class="submit-field">
      <%= f.submit %>
    </div>

<% end %>