<h1>New Listing</h1>

  <% if flash[:notice] %>
    <% flash[:notice].each do |x| %>
      <li id="errors"><%= x %></li>
    <% end %>
  <% end %>

<%= form_for @listing do |f| %>

    <h4> Listing details </h4>
    <div class="text-field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="text-field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="text-field">
      <%= f.label :country %>
      <%= f.text_field :country %>
    </div>

    <div class="text-field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="number-field">
      <%= f.label :pax %>
      <%= f.text_field :pax %>
    </div>

    <div class="number-field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>

    <div class="text-field">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list %>
    </div>
    <br>

   <%= f.fields_for :listing_attachments do |p| %>
     <div class="field">
       <%= p.label :image %><br>
       <%= p.file_field :image, :multiple => true, name: "listing_attachments[image][]" %>
     </div>
   <% end %>

    <div class="submit-field">
      <%= f.submit %>
    </div>

<% end %>