<h1>Listings#show</h1>
<h2><%= @listing.title %></h2>
<% if @listing.image %>
    <%= image_tag @listing.image_url.to_s %>
<% else %>
    <%= image_tag @listing.image_remote_url.to_s %>
<% end %>
<h4>OWNER : <%= link_to User.find(@listing.user_id).name, user_path(@listing.user_id) %> </h4>
<h4>DESCRIPTION : <%= @listing.description %> </h4>
<h4>PAX : <%= @listing.pax %> </h4>
<h4>COUNTRY : <%= @listing.country %> </h4>
<h4>ADDRESS : <%= @listing.address %> </h4>
<h4>TAGS : <%= @listing.tag_list %> </h4>