<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @listing_attachment.listing_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @listing_attachment.image %>
</p>

<%= link_to 'Edit', edit_listing_attachment_path(@listing_attachment) %> |
<%= link_to 'Back', listing_attachments_path %>
