<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>


<body>
<nav id="bigboy" class="container navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">

        <li> <%= link_to 'HOME', root_path %> </li>
        
        <% if current_user %>
        <li> <%= link_to 'MY PROFILE', current_user %> </li>
        <li> <%= link_to 'CREATE LISTING', new_listing_path %> </li>

            <% if moderator? || superadmin? %>
            <li> <%= link_to 'ALL USERS', users_path %> </li>
            <li> <%= link_to 'ALL LISTINGS', listings_path %> </li>
            <li class="active"> <%= link_to current_user.role.upcase %> </li>
            <% end %>
        <% end %>

        <% if signed_in? -%>
           <li class="nav-item"> 
            <%= link_to "SIGN OUT", sign_out_path, method: :delete %> 
           </li>
        <% else -%>
           <li class="nav-item"> 
            <%= link_to "SIGN IN".upcase, sign_in_path %> 
           </li>
        <% end -%>

<!--         <% flash.each do |key, value| -%>
          <div id="flash_<%= key %>"><%=h value %></div>
        <% end %> -->
    </ul>
</nav>



<div id ="body" class="container">

<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>

<%= yield %>

</div>


</body>
</html>
